/*
* @Author: Administrator
* @Date:   2018-07-17 09:06:16
* @Last Modified by:   stephen-zm
* @Last Modified time: 2018-08-09 13:03:28
*/
@import url("base.css");
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
/* 头部 */
.top{
	width: 1903px;
	height: 107px;
	background: #ffffff;
}
.head{
	width: 1200px;
	height: 107px;
	margin: 0 auto;
}
.head img{
	margin-top: 7px;
	width: 153px;
	height: 91px;
	float: left;
}
.head_nav{
	width: 600px;
	height: 107px;
	float: left;
	margin-left: 147px;
	position: relative;
}
.head_nav ul li{
	width: 90px;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	margin-top: 25px;
	font-size: 16px;
	text-align: center;
	float: left;
}
.head_nav ul li a span{
	color: #222222;
}
.head_nav ul li:hover a span{
	color: #4AB344;
}
.head_nav ul li:first-child a span{
	color: #4AB344;
}
.headright{
	width: 156px;
	height: 42px;
	margin-top: 30px;
	border: 1px solid #E6E6E6;
	float: right;
	position: relative;
}
.box{
	width: 300px;
	height: 140px;
	background: #fff;
	border: 1px solid #e6e6e6;
	position: absolute;
	top: 42px;
	right: 0;
	overflow: hidden;
	display: none;
	color: #c6c6c6;
	line-height: 140px;
	font-size: 14px;
}
.headright span{ 
	width: 70px;
	height: 14px;
	font-size: 14px;
	margin-left: 14px;
	margin-top: 10px;
	color: #222222;
}
.headright svg{
	margin-top: 13px;
}
.headright svg:first-child{
	margin-left: 24px;
}
.borderb{
	width: 600px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 30px;
}
.dong{
	width: 90px;
	height: 2px;
	position: absolute;
	top: 0;
	left: 20px; 
	background: #4AB344;
	transition: all 1s;
}
/* 图片 */
.banner{
	width: 100%;
	height: 550px;
	background: url('../img/zm6.jpg');
}
/* 图片1 */
.tupian{
	width: 1200px;
	height: 196px;
	margin: 0 auto;
	margin-top: 60px;
}
.tu{
	width: 390px;
	height: 196px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.tu img{
	width: 390px;
	height: 196px;
}
/* 果园推荐 */
.guo{
	width: 1200px;
	height: 809px;
	margin: 0 auto;
}
.guo-nav{
	width: 1200px;
	height: 49px;
	margin-top: 60px;
	border-bottom: 1px solid #48900F;
	background: url('../img/zm10.jpg');
}
.guo-nav h2{
	font-size: 22px;
	color: #48900f;
	float: left;
	line-height: 40px;
}
.guo-nav span{
	margin-left: 10px;
	font-size: 12px;
	color: #999999;
	font-weight: bolder;
	line-height: 48px;
}
.zhuti{
	width: 1200px;
	height: 660px;
	margin-top: 40px;
}
.zt-left{
	width: 320px;
	height: 660px;
	float: left;
}
.zt-right{
	width: 880px;
	height: 660px;
	float: right;
}
.zt-right ul li{
	width: 270px;
	height: 330px;
	margin-left: 23px;
	float: left;
}
.r-top{
	width: 182px;
	height: 200px;
	margin-left: 44px;
}
.r-top img{
	width: 182px;
	height: 182px;
}
.r-down{
	width: 260px;
	height: 130px;
	margin-left: 10px;
}
.rd-1{
	width: 260px;
	height: 30px;
	border-bottom: 1px dashed #999999;
}
.rd-1 h3{
	text-align: center;
	font-size: 16px;
	font-weight: normal;
}
.r-span{
	width: 260px;
	height: 20px;
	padding-top: 15px;
	text-align: center;
}
.j{
	font-size: 12px;
	color: #4AB344;
}
.k{
	font-size: 18px;
	color: #4AB344;
}
.z{
	text-decoration: line-through;
	font-size: 12px;
	color: #767676;
}
.m{
	font-size: 12px;
	color: #4AB344;
}
.buy{
	width: 260px;
	height: 33px;
	margin-top: 15px;
	line-height: 33px;
	text-align: center;
}
.buy a{
	display: block;
	width: 208px;
	height: 33px;
	border-radius: 3px;
	background: #4AB344;
	margin: 0 auto;
	color: white;
}
.r-top:hover img{
	transform: translateX(-15px);
    transition: all 0.3s;
}
/* 中部标题 */
.center{
	width: 1424px;
	height: 340px;
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;
}
.center_img{
	width: 2848px;
	height: 310px;
	transition: 0.5s;
}
.center_img img{
	width: 1424px;
	height: 310px;
	float: left;
}
.dian{
	width: 770px;
	width: 50px;
	height: 20px;
	margin-left: 50%;
	bottom: 10px;
	display: flex;
	justify-content: space-between;
}
.dian li{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #c6c6c6;
	line-height: 20px;
	color: white;
	text-align: center;
}
.dian li.omg{
	background-color: #8c8c8c;
}
/* 每日新品特卖 */
.mai{
	width: 800px;
	height: 130px;
	margin: 0 auto;
	margin-top: 100px;
}
.mai-up{
	width: 800px;
	height: 40px;
	text-align: center;
	font-size: 31px;
	font-weight: bolder;
	position: relative;
}
.mai-up::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 290px;
	background: #e7e7e7;
	height: 2px;
}
.mai-up::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 290px;
	background: #e7e7e7;
	height: 2px;
}
.mai-down{
	width: 800px;
	height: 21px;
	font-size: 16px;
	text-align: center;
	color: #888888;
}
.sp-a{
	width: 1200px;
	height: 284px;
	margin: 0 auto;
	margin-top: 30px;
}
.sp-a-left{
	width: 306px;
	height: 284px;
	float: left;
}
.sp-a-right{
	width: 894px;
	height: 284px;
	float: left;
}
.sp-a-l{
	width: 100%;
	height: 144px;
}
.sp-a-t{
	width: 163px;
	height: 52px;
	margin-top: 50px;
	background: #49900f;
	text-align: center;
	line-height: 52px;
	font-size: 18px;
}
.sp-a-l span{
	font-size: 14px;
	color: #4b4b4b;
}
.l-a{
	width: 306px;
	height: 31px;
}
.l-a span{
	font-size: 20px;
	color: #4b4b4b;
}
.l-b{
	width: 306px;
	height: 56px;
	margin-top: 27px;
}
.l-b span:first-child{
	font-size: 42px;
	font-weight: bolder;
	color: #f39700;
}
.l-b span:last-child{
	font-size: 18px;
	color: #353535;
}
.sp-a-t a{
	color: white;
}
.m-end{
	width: 1200px;
	height: 189px;
	margin: 0 auto;
	margin-top: 40px;
}
.m-end ul li{
	width: 270px;
	height: 189px;
	float: left;
	margin-right: 25px;
}
.m-end ul li img{
	width: 185px;
	height: 185px;
}
.m-end ul li img:hover{
	transform: translateX(-10px);
}
/* 分类 */
.fen{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	margin-top: 100px;
}
.fen-nav{
	width: 1200px;
	height: 35px;
	border-bottom: 1px solid #8c8c8c;
}
.fen-nav span:first-child{
	font-size: 20px;
	color: #678d1e;
    font-weight: normal;
}
.fen-nav span:last-child{
	font-size: 14px;
	float: right;
	color: #353535;
}
.fen_center{
	width: 588px;
	height: 270px;
	float: left;
	margin-top: 20px;
	border-right: 1px solid #8c8c8c;
}
.fen_cr{
	width: 560px;
    height: 70px;
    font-size: 16px;
    overflow: hidden;
}
.fen_cr ul li{
	width: 170px;
	float: left;
	cursor: pointer;
}
.bd{
	width: 558px;
	height: 150px;
	position: relative;
	overflow: hidden;
}
.bd ul{
	width: 558px;
	height: 510px;
	position: absolute;
	top: 0;
	left: 0;
}
.bd ul li{
	font-size: 14px;
	line-height: 30px;
	width: 100%;
	height: 30px;
	color: #999;
}
.bd ul li p{
	width: 170px;
	float: left;
}
.fen_cen{
	width: 600px;
	height: 270px;
	float: right;
	margin-top: 20px;
	position: relative;
}
.fc{
	position: absolute;
	left: 0;
    top: 0;
}
.fang{
	width: 51px;
	height: 15px;
	position: absolute;
	right: 5px;
    bottom: 5px;
    z-index: 50;
    display: flex;
    justify-content: space-between;
}
.fang li{
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 15px;
    font-size: 14px;
    color: black;
}
.fang li.we{
	background: black;
	color: #fff;
}








/* 底部 */
.footer{
	width: 1903px;
	height: 566px;
	overflow: hidden;
	background: url('../img/zm11.jpg') no-repeat;
}
.ft-top{
	width: 1200px;
	height: 181px;
	margin: 0 auto; 
	margin-top: 20px;
	border-bottom: 1px solid #848484;
}
.ft-ti{
	width: 1200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 50px;
}
.ft-ti ul li{
	width: 240px;
	height: 200px;
	float: left;
	margin-left: 60px;	
}
.ft-ti ul li h3{
	color: white;
	padding-bottom: 20px;
	font-size: 16px;
}
.ft-ti ul li p{
	line-height: 25px;
	color: #92CA9D;
	font-size: 14px;
}
.end{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	margin-top: 65px;
	text-align: center;
	color: #92CA9D;
	font-size: 14px;
}
.end p{
	display: inline-block;
}
.end img{
	width: 16px;
	height: 16px;
	display: inline-block;
}
.back{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 40px;
	bottom: 50px;
	background: url('../img/03.png') no-repeat;
}
